{% extends "../base.html" %}
{% load static %}

{% block title %}
    Your shopping cart
{% endblock %}


{% block content %}

<section class="py-2">
    <div class="container">
<h2>Your shopping cart</h2>
<div class="table-responsive">
    <table class="cart table table-sm">
        <thead class="table-light">
        <tr class="text-center">
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr class="text-center align-middle">
                    <td class="w-25">
                        <a href="{{ product.get_absolute_url }}">
                            <img class="rounded thumbnail img-responsive" src="{{ product.image_url | default_if_none:'#' }}" alt="no image" style="display:block;" width="100%" height="100%"/>
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url "cart:cart_remove" product.id %}">Remove</a></td>
                    <td class="num">₴{{ item.price }}</td>
                    <td class="num">₴{{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total table-light text-center">
            <td><strong>Total</strong></td>
            <td colspan="4"></td>
            <td class="num"><strong>₴{{ cart.get_total_price }}</strong></td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "home" %}" class="button light">Continue shopping</a>
        <a href="#" class="button">Checkout</a>
    </p>
</div>
</div>
</section>


{% endblock content %}